@import '../../global.scss';

.works {
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

        .arrow {
            position: absolute;
            height: 70px;
            width: 70px;
            color: white;
            cursor: pointer;
            opacity: 0.6;
            transition: all 0.2s ease-in;
            &:hover{
                opacity: 1;
            }

            &.left {
                left: 100px;
            }
            &.right {
                right: 100px;
            }
            @include mobile {
                display: none;
            }
        }

        .slider {
            height:350px;
            position: absolute;
            display: flex;
            left: 0;
            transition: all 1s ease;

            @include mobile {
                height: 100vh;
                flex-direction: column;
                justify-content: center;
            }

            .container {
                width:100vw;
                display: flex;
                align-items: center;
                justify-content: center;
                

                .item {
                    height:100%;
                    width: 700px;
                    background-color:#fff;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include mobile {
                       height: 70%;
                        width: 80%;
                        justify-content: space-around;
                    }
                    

                        .left{
                            flex: 4;
                            height: 80%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include mobile {
                                height: 100%;
                            }
                            

                                .leftContainer{
                                    width:90%;
                                    height: 70%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    @include mobile {
                                        align-items: center;
                                        text-align: center;
                                        justify-content: space-around;
                                    }

                                    .imgContainer {
                                        width: 40px;
                                        height: 40px;
                                        border-radius:50%;
                                        background-color: coral;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                    }
                                    h2 {
                                        font-size: 20px;
                                        @include mobile {
                                            font-size: 14px;
                                        }
                                    }
                                    p {
                                        font-size: 13px;
                                        @include mobile {
                                            display: none;
                                        }
                                    }
                                    span {
                                        font-size: 12px;
                                        font-weight: 600;
                                        text-decoration: underline;
                                        cursor: pointer;
                                      }
                                }
                        }
                        .right{
                            flex: 8;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content:center;
                            overflow: hidden;


                            img {
                                width:400px;
                                transform: rotate(-10deg);
                            }
                        }
                }
            }
        }
}